In [90]:
import pandas as pd
df = pd.read_csv("sales_with_nans.csv")#.to_string()

### Cleaning Data

In [85]:
#Dropped all records with missing values
dropped_df = df.dropna(inplace= True)
df.to_csv("dropped_nans.csv", index=False)

cdf = pd.read_csv("dropped_nans.csv")
display(cdf)

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
1,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
2,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
3,Control,High Value,191.713918,222.409356,89.967827,85.120975,Yes
4,Treatment,High Value,235.071493,352.756872,72.919851,70.753225,No
...,...,...,...,...,...,...,...
3407,Treatment,High Value,234.970184,360.308311,100.000000,89.778035,Yes
3408,Treatment,Low Value,190.882210,300.525743,51.074736,56.101875,Yes
3409,Treatment,Medium Value,164.011355,247.268535,64.118872,75.671792,Yes
3410,Control,Medium Value,109.386552,145.054224,70.249026,76.630699,No
3411,Treatment,Medium Value,209.913990,320.791145,81.851752,83.163704,Yes

### Basic Statistics

In [95]:
total_sales = cdf.agg(
    total_before_sales = ("Sales_Before", "sum"), # Total sales before & after
    total_after_sales = ("Sales_After", "sum"),
    avg_before_sales = ("Sales_Before", "mean"), # Average sales before & after
    avg_after_sales = ("Sales_After", "mean"),
    avg_before_satisfaction = ('Customer_Satisfaction_Before', 'mean'), # Average satisfaction before & after
    avg_after_satisfaction = ('Customer_Satisfaction_After', 'mean'),
    min_before_sales = ('Sales_Before', 'min'),# Minimum and maximum sales values
)
total_sales.head()
# avg_sales_diff = total_sales["avg_after_sales"] - total_sales["avg_before_sales"]

,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After
total_before_sales,695646.952663,NaN,NaN,NaN
total_after_sales,NaN,957503.503585,NaN,NaN
avg_before_sales,203.882460,NaN,NaN,NaN
avg_after_sales,NaN,280.628225,NaN,NaN
avg_before_satisfaction,NaN,NaN,70.25818,NaN